<table border="0" cellpadding="0" cellspacing="0" width="580px" class="main">
  <tr>
    <td align="center" valign="middle" class="header">

      <!-- // Header block // -->
      <a href="http://mailtrap.io" target="_blank"><img src="https://dl.dropboxusercontent.com/u/7643860/mailtrap/Mailtrap/email_template_assets/logo%402x.png" alt="Mailtrap" width="171" height="55" /></a>

    </td>
  </tr>
  <tr>
    <td align="center" valign="top" class="content-block">

      <!-- Content block -->
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td align="left" valign="top" class="content-item">

            <h1>Millions of rickrolls has only earned Rick Astley $12</h1>

          </td>
        </tr>
        <tr>
          <td align="left" valign="top" class="content-item">

            <img src="https://dl.dropboxusercontent.com/u/7643860/mailtrap/Mailtrap/email_template_assets/email-img-1.png" alt="Image" width="460" height="160" class="is-rounded is-fittogrid" />

          </td>
        </tr>
        <tr>
          <td align="left" valign="top">

            <h3>Walmart loses $3 billion a year to theft</h3>
            <p>Killer Whales are able to learn to speak Dolphin. When killer whales were socialized with bottlenose dolphins at a water facility, they changed the types of sounds they made to resemble those of their social partners Submitted 2 months ago by Admin</p>

          </td>
        </tr>
      </table>

    </td>
  </tr>
  <tr>
    <td align="left" valign="bottom" class="content-block promo-block">
        <!-- Content block -->
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td align="left" valign="top" class="content-item">

            <h3>Walmart loses $3 billion a year to theft</h3>
            <p>Killer Whales are able to learn to speak Dolphin. When killer whales were socialized with bottlenose dolphins at a water facility.</p>

          </td>
        </tr>
        <tr>
          <td align="left" valign="top">

            <!-- Button -->
            <table border="0" cellpadding="0" cellspacing="0" class="btn">
              <tr>
                <td align="center" valign="middle" class="btn-content">

                  <a href="http://mailtrap.io" target="_blank">Take action now!</a>

                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td align="center" valign="top" class="content-block with-border">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td align="left" valign="top" class="content-block-inner is-bordered">
            <!-- Content block -->
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <!-- Column -->
                  <td align="left" valign="top" class="column left">

                    <img src="https://dl.dropboxusercontent.com/u/7643860/mailtrap/Mailtrap/email_template_assets/email-img-2.png" alt="Image" width="210" height="190" class="is-rounded is-fittogrid" />

                  </td>
                  <!-- Column -->
                  <td align="left" valign="top" class="column right">

                    <h3>A group of cats is called
                    a clowder</h3>
                    <p>Movie theater popcorn costs more per ounce than Fillet Mignon, the price of Popcorn is more than 1200% higher than its production costs.</p>

                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td align="left" valign="top" class="content-block">
      <!-- Container -->
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <!-- Column -->
          <td align="left" valign="top" class="column left">

            <h3>Scotland's national animal is the unicorn</h3>
            <p>Guinness World Records says the oldest living person verified by original proof of birth is Misao Okawa, a 115-year-old Japanese woman.</p>

          </td>
          <!-- Column -->
          <td align="left" valign="top" class="column right">

            <img src="https://dl.dropboxusercontent.com/u/7643860/mailtrap/Mailtrap/email_template_assets/email-img-2.png" alt="Image" width="210" height="190" class="is-rounded is-fittogrid" />

          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td align="center" valign="top" class="content-block is-muted">

      <!-- Content block -->
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td align="left" valign="top" class="content-item">

            <h3>A day on Venus is longer than a year on Venus</h3>
            <p>The United Nations estimates that there are over three million shipwrecks on the ocean floors. Lost, destroyed, or deliberately sunk, these wrecks are of interest to divers, underwater archaeologists, and treasure hunters alike.</p>

          </td>
        </tr>
        <tr>
          <td align="left" valign="top" class="pbs">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td align="center" valign="top" class="box">

                  <img src="https://dl.dropboxusercontent.com/u/7643860/mailtrap/Mailtrap/email_template_assets/logo-github.png" alt="Image" width="169" height="76" class="" />

                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td align="left" valign="top" class="">
            <!-- Container -->
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <!-- Column -->
                <td align="left" valign="top" class="column left is-wider">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td align="center" valign="top" class="box">

                        <img src="https://dl.dropboxusercontent.com/u/7643860/mailtrap/Mailtrap/email_template_assets/logo-github.png" alt="Image" width="169" height="76" class="" />

                      </td>
                    </tr>
                  </table>
                </td>
                <!-- Column -->
                <td align="left" valign="top" class="column right is-wider">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td align="center" valign="top" class="box">

                        <img src="https://dl.dropboxusercontent.com/u/7643860/mailtrap/Mailtrap/email_template_assets/logo-github.png" alt="Image" width="169" height="76" class="" />

                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

    </td>
  </tr>
  <tr>
    <td align="center" valign="top" class="content-block has-muted-pointer">

      <!-- Button -->
      <table border="0" cellpadding="0" cellspacing="0" class="btn is-promo">
        <tr>
          <td align="center" valign="middle" class="btn-content">

            <a href="http://mailtrap.io" target="_blank">Take action now!</a>

          </td>
        </tr>
      </table>

    </td>
  </tr>
  <tr>
    <td align="center" valign="top" class="content-block is-full is-muted">

      <!-- Container -->
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <!-- Column -->
          <td align="center" valign="bottom" class="column promo-block-small">

            <!-- Button -->
            <table border="0" cellpadding="0" cellspacing="0" class="btn">
              <tr>
                <td align="center" valign="middle" class="btn-content">

                  <a href="http://mailtrap.io" target="_blank">Take action now!</a>

                </td>
              </tr>
            </table>

          </td>
          <!-- Column -->
          <td align="left" valign="top" class="column is-spaced">

            <h3>Scotland's national animal is the unicorn</h3>
            <p>Guinness World Records says the oldest living person verified by original proof of birth is Misao Okawa, a 115-year-old Japanese woman.</p>

          </td>
        </tr>
      </table>

    </td>
  </tr>
  <tr>
    <td align="center" valign="top" class="content-block">

      <!-- Content block -->
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td align="left" valign="top" class="content-item">

            <p><i>The $1,000 bill featured Grover Cleveland on the front and the words "One Thousand Dollars" on the reverse. It was printed as a small-size Federal Reserve Note in 1918.</i></p>

          </td>
        </tr>
        <tr>
          <td align="center" valign="top">

            <img src="https://dl.dropboxusercontent.com/u/7643860/mailtrap/Mailtrap/email_template_assets/arrow.png" alt="Image" width="460" height="26" class="is-fittogrid"/>

          </td>
        </tr>
        <tr>
          <td align="left" valign="top" class="media-info">
            <table border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td align="left" valign="center" class="image">
                  <img src="https://dl.dropboxusercontent.com/u/7643860/mailtrap/Mailtrap/email_template_assets/user.png" alt="Image" width="40" height="40" />
                </td>
                <td align="left" valign="center" class="text">
                  <p class="text-small">Willy Wonka</p>
                  <p class="text-small text-muted">CEO</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

    </td>
  </tr>
  <tr>
    <td align="center" valign="top" class="content-block is-full is-primary">

      <!-- Content block -->
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td align="left" valign="top" class="content-block-inner">

            <h3>A day on Venus is longer than a year on Venus</h3>
            <p>The United Nations estimates that there are over three million shipwrecks on the ocean floors. Lost, destroyed, or deliberately sunk, these wrecks are of interest to divers, underwater archaeologists, and treasure hunters alike.</p>

          </td>
        </tr>
        <tr>
          <td align="center" valign="top">

            <img src="https://dl.dropboxusercontent.com/u/7643860/mailtrap/Mailtrap/email_template_assets/email-img-4.png" alt="Image" width="580" height="198" class="is-fittogrid" />

          </td>
        </tr>
        <tr>
          <td align="center" valign="top" class="content-block-inner">

            <!-- Button -->
            <table border="0" cellpadding="0" cellspacing="0" class="btn is-big is-light">
              <tr>
                <td align="center" valign="middle" class="btn-content">

                  <a href="http://mailtrap.io" target="_blank">Take action now!</a>

                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

    </td>
  </tr>
  <tr>
    <td align="center" valign="top" class="content-block is-full is-muted">

      <!-- Container -->
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <!-- Column -->
          <td align="left" valign="top" class="column is-full">

            <img src="https://dl.dropboxusercontent.com/u/7643860/mailtrap/Mailtrap/email_template_assets/email-img-3.jpg" alt="Image" width="289" height="265" class="is-fittogrid"/>

          </td>
          <!-- Column -->
          <td align="left" valign="top" class="column is-spaced">

            <h3>Scotland's national animal is the unicorn</h3>
            <p>Guinness World Records says the oldest living person verified by original proof of birth is Misao Okawa, a 115-year-old Japanese woman.</p>

          </td>
        </tr>
      </table>

    </td>
  </tr>
  <tr>
    <td align="left" valign="top" class="content-block">

      <!-- Content block -->
      <h3>A day on Venus is longer than a year on Venus</h3>
      <p>The United Nations estimates that there are over three million shipwrecks on the ocean floors. Lost, destroyed, or deliberately sunk, these wrecks are of interest to divers, underwater archaeologists, and treasure hunters alike.</p>

    </td>
  </tr>
  <tr>
    <td align="center" valign="top" class="content-block is-primary has-light-pointer--big">

      <!-- Button -->
      <table border="0" cellpadding="0" cellspacing="0" class="btn is-big is-plain">
        <tr>
          <td align="center" valign="middle" class="btn-content">

            <a href="http://mailtrap.io" target="_blank">Take action now!</a>

          </td>
        </tr>
      </table>

    </td>
  </tr>
  <tr>
    <td align="center" valign="top" class="content-block">

      <!-- Content block -->
      <h3>A day on Venus is longer than a year on Venus</h3>
      <p>The United Nations estimates that there are over three million shipwrecks on the ocean floors. Lost, destroyed, or deliberately sunk, these wrecks are of interest to divers, underwater archaeologists, and treasure hunters alike.</p>

    </td>
  </tr>
  <tr>
    <td align="center" valign="top" class="content-block is-muted has-light-pointer--small">

      <!-- Button -->
      <table border="0" cellpadding="0" cellspacing="0" class="btn">
        <tr>
          <td align="center" valign="middle" class="btn-content">

            <a href="http://mailtrap.io" target="_blank">Take action now!</a>

          </td>
        </tr>
      </table>

    </td>
  </tr>
  <tr>
    <td align="left" valign="top" class="content-block is-primary">

      <!-- Content block -->
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td align="center" valign="top" class="content-item">

            <h3>A day on Venus is longer than a year on Venus</h3>
            <p>The United Nations estimates that there are over three million shipwrecks on the ocean floors. Lost, destroyed, or deliberately sunk, these wrecks are of interest to divers, underwater archaeologists, and treasure hunters alike.</p>

          </td>
        </tr>
        <tr>
          <td align="center" valign="top">
            <!-- Button -->
            <table border="0" cellpadding="0" cellspacing="0" class="btn is-plain">
              <tr>
                <td align="center" valign="middle" class="btn-content">

                  <a href="http://mailtrap.io" target="_blank">Take action now!</a>

                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

    </td>
  </tr>
  <tr>
    <td align="center" valign="top" class="content-block with-border ptm">

      <!-- Content block -->
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td align="center" valign="top" class="footer">

            <!-- Footer -->
            <strong>Yours, Mailtrap Team</strong><br>
            <a href="mailto:support@mailtrap.io" target: "_blank">support@mailtrap.io</a>

          </td>
        </tr>
      </table>

    </td>
  </tr>

</table>
