<table border="0" cellpadding="0" cellspacing="0" width="600px" class="main">
  <tr>
    <td align="center" valign="middle" class="header">

      <!-- // Header block // -->
      <a href="http://mailtrap.io" target="_blank"><img src="http://static.sendgrid.com/uploads/UID_94429_NL_3091216_62cd36c905657d3b9d34b5503aa343f8/52cf1301228414491a4735129738cf54" width="171" alt="Mailtrap" /></a>

    </td>
  </tr>
	<tr>
    <td align="left" valign="top" class="intro">

      <!-- // Intro block // -->
      <img src="http://static.sendgrid.com/uploads/UID_94429_NL_3090959_43b3b951a3b5fe398e984004d8b671bd/d8270ca7d0b6395a3d0e6d56b1ff7f5f" width="600" alt="Meet a Mailtrap Developer" class="intro-img" />

    </td>
  </tr>
	<tr>
    <td align="center" valign="top" class="feedback">

      <!-- // Content block // -->
      <p>Hi <strong>Steven Yokhanson</strong></p>

      <h1><strong>Help us spread the word</strong> <br> how cool Mailtrap is!</h1>
      <br>
      <br>
      <table border="0" cellpadding="0" cellspacing="0" width="335px" class="feedback-btn">
        <tr>
          <td align="center" valign="middle" class="feedback-btn-content">
            <a href="" target="_blank">Leave Your Feedback</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
	<tr>
    <td align="center" valign="middle" class="promo">

      <!-- // Promo block // -->
      More than 20,000 developers and <a href="http://mailtrap.io#testimonials" target="_blank">great companies</a> all over the World use <a href="http://mailtrap.io" target="_blank">Mailtrap</a>

    </td>
  </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="600px" class="social">
    <tr>
      <td align="center" valign="top" class="social-content">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="social-btns">
          <tr>
            <td align="center" valign="middle" class="col-left">
              <table border="0" cellpadding="0" cellspacing="0" width="100%" class="btn-box">
                <tr>
                  <td align="center" valign="middle" class="twitter-btn">
                    <a href="https://twitter.com/mailtrap" target="_blank" title=""><img src="http://static.sendgrid.com/uploads/UID_94429_NL_3090959_43b3b951a3b5fe398e984004d8b671bd/08b29ab7410b0026a5da904545f8e956" width="31" alt="Join Us on Twitter" /> Join Us <span class="mobile-off">on Twitter</span></a>
                  </td>
                </tr>
              </table>
            </td>
            <td align="center" valign="middle" class="col-right">
              <table border="0" cellpadding="0" cellspacing="0" width="100%" class="btn-box">
                <tr>
                  <td align="center" valign="middle" class="facebook-btn">
                    <a href="https://www.facebook.com/Mailtrap" target="_blank" title=""><img src="http://static.sendgrid.com/uploads/UID_94429_NL_3090959_43b3b951a3b5fe398e984004d8b671bd/c11253525e33217e5baa673e9a68ff6c" width="31" alt="Follow Us on Facebook" /> Follow Us <span class="mobile-off">on Facebook</span></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="600px" class="footer">
    <tr>
      <td align="center" valign="middle">
        <a href="http://mailtrap.io" target="_blank"><img src="http://static.sendgrid.com/uploads/UID_94429_NL_3090959_43b3b951a3b5fe398e984004d8b671bd/af5f8e2f8946a0e5e444cde2cdbe13f6" width="68" alt="Mailtrap" /></a><br>
        <strong>Mailtrap</strong> - Safe Email Testing<br>
        <span class="closing">Yours, Mailtrap Team</span>
      </td>
    </tr>
</table>